@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size: 16px;
  --text-color: #675232;
  --background-color: #F6F4F4;
}

html, body {
  font-family: Merriweather, serif;
  font-weight: 300;
  font-size: var(--font-size);
  padding-bottom: 5rem;
  line-height: 1.5;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

/**
 * Turn down the weight on these elements a little.
 **/
h3, strong {
  font-weight: bolder;
}

header {
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  max-width: 40rem;
  margin: 0 auto;
  font-weight: 300;
  font-size: 300%;
  letter-spacing: -0.05em;
}

header .important-sounding-descriptors {
  max-width: 40rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

header .important-sounding-descriptors li {
  display: inline-block;
  padding: 0.5rem;
}

nav {
  overflow: hidden;
  height: 0;
}

section {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

section > h2 {
  display: none;
}

#skills ul {
  -webkit-column-width: 33%;
  -webkit-column-count: 3;

  -moz-column-width: 33%;
  -moz-column-count: 3;

  column-width: 33%;
  column-count: 3;

  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
}

#skills ul li {
  padding: 0.1rem 0;
}

#professional-experience ol {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

#professional-experience ol > li {
  break-inside: avoid-page
}

#professional-experience ol > li + li {
  margin-top: 1.5rem;
}

#professional-experience h3 {
  margin: 0;
}

#professional-experience h3 .employer {
  font-weight: 300;
  display: inline-block;
  margin-left: 1rem;
}

#professional-experience .job-info {
  margin: 0 2rem;
  font-size: 90%;
}

#professional-experience .job-location {
  font-weight: bolder;
  margin-right: 1rem;
}

#professional-experience ul > li + li {
  margin-top: 0.4rem;
}

#professional-experience p {
  orphans: 5;
  widows: 5;
}

#education dt {
  font-size: 110%;
}

#education dd {
  margin: 0 2rem;
}

#education dd + dt {
  margin-top: 1rem;
}

#education .institution {
  font-weight: bolder;
  margin-right: 1rem;
}

#education .location {
  margin-right: 1rem;
}

@media screen {
  /**
   * Hairline rule between sections
   */
  section + section::before {
    content: "";
    display: block;
    width: 25rem;
    margin: 1rem auto;
    padding: 0;
    border-top: 1px solid var(--text-color);
  }  
}

@media print {
  /**
   * Make a black-and-white layout for easy printing.
   * Also adjust the font size downward: large text on websites is very
   * fashionable, but looks weird in print.
   */
  :root {
    --font-size: 10pt;
    --text-color: black;
    --background-color: white;
  }
}